body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
   background: url(GOOD.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


h1 {
	color: white;
	font-size: 3em;
}
hr {
	border-color: black;
}
.btn {
	font-weight: 700;
	border-radius: 300px;
	text-transform: uppercase;
	text-decoration-color: gray;
}
.btn-dark: hover{
	background-color: gray; 
	border-color: black;
	border-width: 4px;
}
.bnt-xl {
	padding: 1rem 2rem;
}
.buffer {
	height: 5px;
}